@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TreasureCache.Presentation.ViewModels.Administration.ProductModalViewModel;

<div id="updateProductModal" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-1 w-full max-w-2xl h-full md:h-auto bg-gradient-to-r from-red-400 via-red-500 to-red-600 rounded-lg">
    <!-- Modal content -->
    <div class="relative p-4 bg-white shadow dark:bg-gray-800 sm:p-5">
        <!-- Modal header -->
        <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Are you sure you want to delete this product?
            </h3>
            <button id="button-modal-close" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <!-- Modal body -->
        <form id="xd" asp-controller="Products" asp-action="Update" enctype="multipart/form-data">
            <div class="grid gap-4 sm:grid-cols-4 sm:gap-6">
                <input disabled="disabled" asp-for="Id" hidden />
                <div class="sm:col-span-2 sm:row-span-1">
                    <label asp-for="Name" class="block mb-2 text-lg font-sm text-gray-900 dark:text-white">Name</label>
                    <input disabled="disabled" asp-for="Name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type product name" required>
                    <p class="mt-2 text-xs text-red-600 dark:text-red-400">
                        <span asp-validation-for="Name" role="alert"></span>
                    </p>
                </div>
                <div class="sm:col-span-2 sm:row-span-2 flex flex-col">
                    <label asp-for="Description" class="block mb-2 text-lg font-sm text-gray-900 dark:text-white">Description</label>
                    <textarea disabled="disabled" asp-for="Description"  class="grow block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here" required></textarea>
                    <p class="mt-2 text-xs text-red-600 dark:text-red-400">
                        <span asp-validation-for="Description" role="alert"></span>
                    </p>
                </div>
                <div class="sm:col-span-2">
                    <label asp-for="BasePrice" class="block mb-2 text-lg font-sm text-gray-900 dark:text-white">Price</label>
                    <input disabled="disabled" asp-for="BasePrice" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="ex. 19,99" required>
                    <p class="mt-2 text-xs text-red-600 dark:text-red-400">
                        <span asp-validation-for="BasePrice" role="alert"></span>
                    </p>
                </div>
                <div class="sm:col-span-2">
                    <label asp-for="Count" class="block mb-2 text-lg font-sm text-gray-900 dark:text-white">Choose quantity:</label>
                    <div class="relative flex items-center max-w-[12rem]">
                        <button type="button" id="decrement-button" data-input-counter-decrement="quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                            </svg>
                        </button>
                        <input disabled="disabled" asp-for="Count" id="quantity-input" data-input-counter data-input-counter-min="1" data-input-counter-max="50" aria-describedby="helper-text-explanation" class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="999" value="@Model.Count" required>
                        <button type="button" id="increment-button" data-input-counter-increment="quantity-input" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                        </button>
                    </div>
                    <p class="mt-2 text-xs text-red-600 dark:text-red-400">
                        <span asp-validation-for="Count" role="alert"></span>
                    </p>
                </div>
                <div class="sm:col-span-4">
                    <input disabled="disabled" asp-for="IsActive" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label asp-for="IsActive" class="ms-2 text-lg font-sm text-gray-900 dark:text-gray-300">Make active</label>
                </div>
                <div class="col-start-2 col-span-2 flex place-content-evenly"> 
                    <button asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id"  class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        <span class="text-lg relative px-5 py-2.5 transition-all ease-in duration-75  group-hover:bg-opacity-0">
                            Delete
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(() => {
        const modalButton = $('#button-modal-close');
        modalButton.click(() => {
            const modal = $('#updateProductModal');
            modal.hide();
        });        
    });
</script>