@model TreasureCache.Presentation.ViewModels.Administration.UsersModalViewModel

<div id="updateProductModal" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-1 w-full max-w-2xl h-full md:h-auto bg-gradient-to-br bg-gradient-to-br from-green-400 to-blue-600 rounded-lg">
    <!-- Modal content -->
    <div class="relative p-4 bg-white shadow dark:bg-gray-800 sm:p-5">
        <!-- Modal header -->
        <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Update Product
            </h3>
            <button id="button-modal-close" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <!-- Modal body -->
        <form id="xd" asp-controller="Users" asp-action="Update">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <input asp-for="Request.Id" hidden />
                <div class="sm:col-span-2 sm:row-span-1">
                    <label asp-for="Request.SelectedRoles" class="block mb-2 text-lg font-sm text-gray-900 dark:text-white">Roles</label>
                    <select asp-for="Request.SelectedRoles" asp-items="@Model.Roles" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 mb-0" required>
                    </select>
                    <p class="mt-2 text-xs text-red-600 dark:text-red-400">
                        <span asp-validation-for="Request.SelectedRoles" role="alert"></span>
                    </p>
                </div>
                 <div class="sm:col-span-2">
                     <label asp-for="Request.PersonalDiscount" class="block mb-2 text-lg font-sm text-gray-900 dark:text-white">Price</label>
                     <input asp-for="Request.PersonalDiscount" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="ex. 19,99" required>
                     <p class="mt-2 text-xs text-red-600 dark:text-red-400">
                         <span asp-validation-for="Request.PersonalDiscount" role="alert"></span>
                    </p>
                </div>
                <div class="sm:col-span-4">
                    <input asp-for="Request.SignedUpForNewsletter" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label asp-for="Request.SignedUpForNewsletter" class="ms-2 text-lg font-sm text-gray-900 dark:text-gray-300">Newsletter</label>
                </div>
                <div class="col-start-2 col-span-2 flex place-content-evenly"> 
                    <button type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        <span class="text-lg  relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md group-hover:bg-opacity-0">
                            Update
                        </span>
                    </button>
                    @*<button asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Request.Id"  class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        <span class="text-lg relative px-5 py-2.5 transition-all ease-in duration-75  group-hover:bg-opacity-0">
                            Delete
                        </span>
                    </button>*@
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(() => {
        const modalButton = $('#button-modal-close');
        modalButton.click(() => {
            const modal = $('#updateProductModal');
            modal.hide();
        });
    });
</script>