@model TreasureCache.Presentation.ViewModels.ContactForm.ContactFormViewModel

<form method="post" asp-action="Send" class="mx-auto">
    <div class="my-auto dark:bg-gray-800 p-6 rounded-lg w-[50rem] px-16">
        <div class="mb-5">
            <label asp-for="ContactReason" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact reason</label>
            <input asp-for="ContactReason" required="required" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5">
            <label asp-for="Message"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
            <textarea asp-for="Message" required rows="3" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
        </div>
        <button type="submit" class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Submit</button>
    </div>
</form>
