html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background-color: beige;
    min-height: 100vh;
}


.footer-custom {
    background-color: blue;
    margin-top: auto;
    line-height: 60px;
}

